@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";


:export {
    borderColor: $input-border-color;
    borderColorInvalid: $danger;
    textDanger: $danger;
  }